$borderRadius: 5px;

* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	font-size: 12px;
}	

body {
	background-color: #FFFFFF;
}

.location {
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #AAAAAA;
	border-radius: $borderRadius;
	background-color: #DDDDDD;
}

.location th {
	text-align: left;
	font-size: 14px;
}

.location td {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

.sprite {
	border-radius: $borderRadius;
	background-color: #EEEEEE;
}

.name {
	padding-bottom: 4px;
	text-align: center;
}